:root {
  --experience-header-bg1: #5f626d;
  --experience-header-bg2: #807686;
  --experience-header-bg3: #71808a;
  --experience-header-bg4: #c7baa9;
  --experience-header-fg4: #2c2427;
  --experience-profile-outline: #7b9094;
  --experience-profile-border: #a3a28e;
}

.experience-header {
  position: relative;
  width: 100vw;
  height: max-content;
  padding: 2em;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.experience-header .experience-profile-icon {
  position: relative;
  width: 100px;
  height: 100px;
  border-radius: 1em;
  margin-bottom: 2em;
  outline: 0.25rem solid var(--experience-profile-outline);
  border: 0.25rem solid var(--experience-profile-border);
  overflow: hidden;
}

.experience-header .experience-header-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1em;
}

.experience-header .experience-header-title {
  margin-bottom: 6em;
}

.experience .experience-card {
  position: relative;
  min-height: 200px;
}

.experience .experience-card-inner {
  position: relative;
  will-change: transform;
  width: calc(100vw - 4em);
  height: 50%;
  margin: 0 auto;
  padding: 2em;
  display: flex;
  justify-content: space-between;
  gap: 4em;
  border-radius: 2em;
  min-height: 300px;
}

.experience .experience-card-content {
  flex: 3;
  display: flex;
  flex-direction: column;
  gap: 2em;
}

.experience .experience-card-img {
  border-radius: 2em;
  overflow: hidden;
}

.experience #experience-card-1 .experience-card-inner {
  background-color: var(--experience-header-bg1);
}

.experience #experience-card-2 .experience-card-inner {
  background-color: var(--experience-header-bg2);
}

.experience #experience-card-3 .experience-card-inner {
  background-color: var(--experience-header-bg3);
}

.experience #experience-card-4 .experience-card-inner {
  background-color: var(--experience-header-bg4);
  color: var(--experience-header-fg4);
}
