.bg-gradient {
  border-radius: 20em;
  background: linear-gradient(
    45deg,
    var(--accent1),
    var(--accent2),
    var(--accent3),
    var(--accent4)
  );
  background-size: 400% 400%;
  transition: transform 0.2s ease;
  animation: gradientMove 10s ease-in-out infinite;
  overflow: hidden;
}

.bg-gradient::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 200%;
  height: 100%;
  background: repeating-linear-gradient(
    45deg,
    rgba(0, 0, 0, 0.125) 0px,
    rgba(0, 0, 0, 0.125) 15px,
    transparent 15px,
    transparent 30px
  );
  animation: stripeMove 30s linear infinite;
}

@keyframes gradientMove {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

@keyframes stripeMove {
  0% {
    transform: translateX(-50%);
  }
  100% {
    transform: translateX(0%);
  }
}
