/* home - skill skill */
.skill {
  position: relative;
  width: 100vw;
  height: 100svh;
  overflow: hidden;
}

.skill .skill-titles {
  position: relative;
  width: 500vw;
  height: 100vh;
  display: flex;
  will-change: transform;
}

.skill .skill-title-wrapper {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.skill-title-img {
  position: relative;
  top: 0px;
  width: calc(100% - 4em);
  height: 150px;
  border: 0.2em solid var(--fg);
  border-radius: 1em;
  overflow: hidden;
  display: none;
}

.skill .skill-title-wrapper h1 {
  text-align: center;
  transform: translateY(-0.5em);
}

.skill .skill-images {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 200vw;
  height: 200vh;
  transform-style: preserve-3d;
  perspective: 500px;
}

.skill .skill-img-card {
  position: absolute;
  width: 300px;
  height: 300px;
  border-radius: 2em;
  overflow: hidden;
}

.skill .skill-indicator {
  position: absolute;
  top: 50%;
  right: 2em;
  transform: translate(0%, -50%);
  width: 2rem;
  height: max-content;
  padding: 1.25rem 0.65rem;
  background-color: var(--fg);
  color: var(--bg);
  border-radius: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.35rem;
  z-index: 10;
}

.skill .skill-indicator .indicator {
  width: 100%;
  height: 1.5px;
  background-color: var(--bg);
  opacity: 0.2;
}

section.footer-area {
  position: relative;
  width: 100vw;
  height: 100svh;
  pointer-events: none !important;
}

footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100vw;
  height: 100svh;
  overflow: hidden;
  background-color: white;
  color: black;
  z-index: 0;
}

.footer-container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.skill .skill-footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  padding: 2em;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 2;
}
