.stars {
  position: fixed;
  top: 50%;
  left: 50%;
  height: 1px;
  width: 1px;
  background-color: #fff;
  border-radius: 50%;
  box-shadow:
    30px 50px 3px 20px #fff,
    -30px -70px 1px 10px #fff;
}
